# .NET
**/bin/
**/obj/
.vs/

# Flutter / Dart
.dart_tool/
**/.dart_tool/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies

# Visual Studio / usuário
*.user
*.suo

# Produção / segredos
appsettings.Production.json